# Java
target/
*.class

# IntelliJ
.idea/
*.iml
out/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Environment
.env
.env.local
application-local-private.yml

# Build artifacts
*.jar
*.war
*.ear

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
.terraform.lock.hcl